body {
  margin: 2%;
  background-color: #cccccc;
}

h1 {
  text-align: center;
} 

h3 {
  text-align: center;
}

select {
  margin-left: 15px;
}

label {
  font-weight: 800;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#ruby, #python, #c, #incomplete {
  display: none;
}

.row {
  margin: 4% 10%;
}



